@import "tailwindcss";

@theme {
  --text-massive: 9rem;

  --breakpoint-xsm: 475px;
  --breakpoint-sm: 800px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1550px;
  --breakpoint-xl: 2250px;
  --breakpoint-2xl: 2570px;
  --breakpoint-supermassive: 3300px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fffefe;
  border-width: 2px;
}
